/* Active buttons */
.SimonButton {
  background-clip: border-box;
  border-top: 6px solid rgba(255, 255, 255, 0.25);
  border-left: 6px solid rgba(255, 255, 255, 0.25);
  border-right: 6px solid rgba(0, 0, 0, 0.25);
  border-bottom: 6px solid rgba(0, 0, 0, 0.25);
  border-radius: 12px;
}

.SimonButton:active {
  border-top: 6px solid rgba(0, 0, 0, 0.25);
  border-left: 6px solid rgba(0, 0, 0, 0.25);
  border-right: 6px solid rgba(255, 255, 255, 0.25);
  border-bottom: 6px solid rgba(255, 255, 255, 0.25);
}

.Green {
  background-color: hsl(120, 60%, 50%);
}
.Green:hover {
  background-color: hsl(120, 75%, 50%);
}

.Red {
  background-color: hsl(0, 85%, 50%);
}
.Red:hover {
  background-color: hsl(0, 100%, 60%);
}

.Yellow {
  background-color: hsl(60, 70%, 50%);
}
.Yellow:hover {
  background-color: hsl(60, 85%, 50%);
}

.Blue {
  background-color: hsl(240, 70%, 50%);
}
.Blue:hover {
  background-color: hsl(240, 85%, 60%);
}

/* Static buttons */
.SimonButtonStatic {
  background-clip: border-box;
  border-top: 6px solid rgba(255, 255, 255, 0.25);
  border-left: 6px solid rgba(255, 255, 255, 0.25);
  border-right: 6px solid rgba(0, 0, 0, 0.25);
  border-bottom: 6px solid rgba(0, 0, 0, 0.25);
  border-radius: 12px;
}

.GreenStatic {
  background-color: hsl(120, 60%, 50%);
}
.GreenStaticLight {
  background-color: hsl(120, 75%, 50%);
}

.RedStatic {
  background-color: hsl(0, 85%, 50%);
}
.RedStaticLight {
  background-color: hsl(0, 100%, 60%);
}

.YellowStatic {
  background-color: hsl(60, 70%, 50%);
}
.YellowStaticLight {
  background-color: hsl(60, 85%, 50%);
}

.BlueStatic {
  background-color: hsl(240, 70%, 50%);
}
.BlueStaticLight {
  background-color: hsl(240, 85%, 60%);
}
