.App {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: 100vw;
  grid-template-rows: 15vh calc(70vh - 24px) 15vh;
  grid-template-areas: "header"
                       "game"
                       "footer";
  font-family: 'Righteous', cursive;
  background-color: hsl(0, 0%, 75%);
}

.Header {
  grid-area: header;
  margin-top: 2.5vh;
  text-align: center;
}

.Footer {
  grid-area: footer;
  margin-top: 5vh;
  text-align: center;
}
